<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfBoletoPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>Boletos (Brazilian Payment Method)</summary>
  <description>Boletos (Brazilian Payment Method)</description>
  <lead>
    <name>Rafael Goulart</name>
    <user>rafaelgou</user>
    <email>rafaelgou@rgou.net</email>
    <active>yes</active>
  </lead>
  <date>2011-05-14</date>
  <version>
    <release>0.5.0</release>
    <api>0.5.0</api>
  </version>
  <stability>
    <release>stable</release>
    <api>stable</api>
  </stability>
  <license uri="http://www.gnu.org/licenses/gpl-3.0-standalone.html">LGPL</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.2.0</min>
        <max>1.5.0</max>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>0.5.0</release>
        <api>0.5.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <license uri="http://www.gnu.org/licenses/gpl-3.0-standalone.html">LGPL</license>
      <date>2011-05-14</date>
      <notes>
         * rafaelgou: First alpha release of the plugin
      </notes>
    </release>
  </changelog>
</package>
